pipeline/e2e_training_mvad_clean.json
{
	"name": "e2e_training_mvad_clean",
	"properties": {
		"activities": [
			{
				"name": "Data Processor",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set Query Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "cleaned_mvad_training_ingestion",
						"type": "NotebookReference"
					},
					"parameters": {
						"query": {
							"value": {
								"value": "@pipeline().parameters.query",
								"type": "Expression"
							},
							"type": "string"
						},
						"start_time": {
							"value": {
								"value": "@pipeline().parameters.start_time",
								"type": "Expression"
							},
							"type": "string"
						},
						"end_time": {
							"value": {
								"value": "@pipeline().parameters.end_time",
								"type": "Expression"
							},
							"type": "string"
						},
						"kusto_linked_service": {
							"value": {
								"value": "@pipeline().parameters.kusto_linked_service",
								"type": "Expression"
							},
							"type": "string"
						},
						"kusto_database": {
							"value": {
								"value": "@pipeline().parameters.kusto_database",
								"type": "Expression"
							},
							"type": "string"
						},
						"query_name": {
							"value": {
								"value": "@pipeline().parameters.query_name",
								"type": "Expression"
							},
							"type": "string"
						},
						"adls_container": {
							"value": {
								"value": "@pipeline().parameters.adls_container",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "testspark",
						"type": "BigDataPoolReference"
					},
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Data Processor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "zip_input_param",
						"type": "DatasetReference",
						"parameters": {
							"file_system": {
								"value": "@first(split(activity('Data Processor').output.status.Output.result.exitValue, ','))",
								"type": "Expression"
							},
							"directory": {
								"value": "@last(split(activity('Data Processor').output.status.Output.result.exitValue, ','))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "zip_output_param",
						"type": "DatasetReference",
						"parameters": {
							"file_system": {
								"value": "@first(split(activity('Data Processor').output.status.Output.result.exitValue, ','))",
								"type": "Expression"
							},
							"directory": {
								"value": "@variables('zipped_file_path')",
								"type": "Expression"
							},
							"file": {
								"value": "@variables('zipped_file_name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "MVAD Training",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "cleaned_mvad_api_refactor_train_sas",
						"type": "NotebookReference"
					},
					"parameters": {
						"adls_account_name": {
							"value": {
								"value": "@pipeline().parameters.adls_account",
								"type": "Expression"
							},
							"type": "string"
						},
						"zipped_file_path": {
							"value": {
								"value": "@variables('zipped_file_path')",
								"type": "Expression"
							},
							"type": "string"
						},
						"zipped_file_name": {
							"value": {
								"value": "@variables('zipped_file_name')",
								"type": "Expression"
							},
							"type": "string"
						},
						"start_datetime": {
							"value": {
								"value": "@pipeline().parameters.start_time",
								"type": "Expression"
							},
							"type": "string"
						},
						"end_datetime": {
							"value": {
								"value": "@pipeline().parameters.end_time",
								"type": "Expression"
							},
							"type": "string"
						},
						"adls_container": {
							"value": {
								"value": "@pipeline().parameters.adls_container",
								"type": "Expression"
							},
							"type": "string"
						},
						"kv_linked_service": {
							"value": {
								"value": "@pipeline().parameters.kv_linked_service",
								"type": "Expression"
							},
							"type": "string"
						},
						"kv_name": {
							"value": {
								"value": "@pipeline().parameters.kv_name",
								"type": "Expression"
							},
							"type": "string"
						},
						"mvad_kv_secret_name": {
							"value": {
								"value": "@pipeline().parameters.mvad_kv_secret_name",
								"type": "Expression"
							},
							"type": "string"
						},
						"adls_kv_secret_name": {
							"value": {
								"value": "@pipeline().parameters.adls_kv_secret_name",
								"type": "Expression"
							},
							"type": "string"
						},
						"mvad_endpoint": {
							"value": {
								"value": "@pipeline().parameters.mvad_endpoint",
								"type": "Expression"
							},
							"type": "string"
						},
						"sliding_window": {
							"value": {
								"value": "@pipeline().parameters.sliding_window",
								"type": "Expression"
							},
							"type": "int"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "aaaa",
						"type": "BigDataPoolReference"
					},
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Set MVAD Model ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MVAD Training",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "model_id",
					"value": {
						"value": "@activity('MVAD Training').output.status.Output.result.exitValue",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Query Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "zipped_file_path",
					"value": {
						"value": "@pipeline().parameters.query_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update Trigger Parameters",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set MVAD Model ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"url": {
						"value": "https://adtml-synapse-poc.dev.azuresynapse.net/triggers/Trigger15min?api-version=2020-12-01",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"properties\": {\n        \"pipelines\": [\n            {\n                \"pipelineReference\": {\n                    \"referenceName\": \"e2e_inferencing_mvad\",\n                    \"type\": \"PipelineReference\"\n                },\n                \"parameters\": {\n                    \"query\": \"@{pipeline().parameters.query}\",\n                    \"adls_account\": \"@{pipeline().parameters.adls_account}\",\n                    \"adls_container\": \"@{pipeline().parameters.adls_container}\",\n                    \"kusto_linked_service\": \"@{pipeline().parameters.kusto_linked_service}\",\n                    \"kusto_database\": \"@{pipeline().parameters.kusto_database}\",\n                    \"query_name\": \"@{pipeline().parameters.query_name}\",\n                    \"kv_linked_service\": \"@{pipeline().parameters.kv_linked_service}\",\n                    \"kv_name\": \"@{pipeline().parameters.kv_name}\",\n                    \"mvad_kv_secret_name\": \"@{pipeline().parameters.mvad_kv_secret_name}\",\n                    \"adls_kv_secret_name\": \"@{pipeline().parameters.adls_kv_secret_name}\",\n                    \"mvad_endpoint\": \"@{pipeline().parameters.mvad_endpoint}\",\n                    \"sliding_window\": @{pipeline().parameters.sliding_window},\n                    \"model_id\": \"@{variables('model_id')}\",\n                    \"adt_endpoint\": \"https://yizhu2-DhAdtInstance.api.wcus.digitaltwins.azure.net\",\n                    \"adx_table\": \"adt_dh_yizhu2_DhAdtInstance_westcentralus\",\n                    \"customer_adt_query\": \"SELECT SALT_MACHINE.$dtId as tid FROM DIGITALTWINS FACTORY JOIN SALT_MACHINE RELATED FACTORY.contains WHERE FACTORY.$dtId = 'OsloFactory' AND IS_OF_MODEL(SALT_MACHINE , 'dtmi:assetGen:SaltMachine;1')\",\n                    \"relevant_metrics\": [\n                        \"OutFlow\",\n                        \"InFlow\"\n                    ]\n                }\n            }\n        ],\n        \"type\": \"ScheduleTrigger\",\n        \"typeProperties\": {\n            \"recurrence\": {\n                \"frequency\": \"Minute\",\n                \"interval\": 10,\n                \"startTime\": \"2021-12-08T21:31:00\",\n                \"endTime\": \"2022-01-08T22:31:50\",\n                \"timeZone\": \"Eastern Standard Time\"\n            }\n        }\n    }\n}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://dev.azuresynapse.net/"
					}
				}
			},
			{
				"name": "Start Trigger",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Update Trigger Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "https://adtml-synapse-poc.dev.azuresynapse.net/triggers/Trigger15min/start?api-version=2020-12-01",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://dev.azuresynapse.net/"
					}
				}
			}
		],
		"parameters": {
			"query": {
				"type": "string"
			},
			"start_time": {
				"type": "string"
			},
			"end_time": {
				"type": "string"
			},
			"adls_account": {
				"type": "string"
			},
			"adls_container": {
				"type": "string"
			},
			"kusto_linked_service": {
				"type": "string"
			},
			"kusto_database": {
				"type": "string"
			},
			"query_name": {
				"type": "string"
			},
			"kv_linked_service": {
				"type": "string"
			},
			"kv_name": {
				"type": "string"
			},
			"mvad_kv_secret_name": {
				"type": "string"
			},
			"adls_kv_secret_name": {
				"type": "string"
			},
			"mvad_endpoint": {
				"type": "string"
			},
			"sliding_window": {
				"type": "int"
			}
		},
		"variables": {
			"zipped_file_path": {
				"type": "String"
			},
			"zipped_file_name": {
				"type": "String",
				"defaultValue": "mvad_input.zip"
			},
			"model_id": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-01-17T09:56:40Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}