pipeline/PL_Internal_Azure_Log_Analytics_Dimension.json
{
	"name": "PL_Internal_Azure_Log_Analytics_Dimension",
	"properties": {
		"activities": [
			{
				"name": "Set BronzeFolder",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "bronzeFolder",
					"value": {
						"value": "@concat('logAnalytics/applicationInsights/dimensionSource/',utcnow('yyyy_MM_dd_HH_mm'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute DimAPIProcess",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set BronzeFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"bronzeFolder": {
							"value": "@variables('bronzeFolder')",
							"type": "Expression"
						},
						"parentPipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute DimStatus",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set BronzeFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Internal_Azure_Log_Analytics_DimStatus",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"bronzeFolder": {
							"value": "@variables('bronzeFolder')",
							"type": "Expression"
						},
						"parentPipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"bronzeFolder": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Warehouse/Telemetry/Dimension/Parent Pipelines"
		},
		"annotations": []
	}
}