pipeline/PL_TESTISSUE.json
{
	"name": "PL_TESTISSUE",
	"properties": {
		"description": "Pipeline to move Banner entity data to reporting layer",
		"activities": [
			{
				"name": "LKP_Last_Successful_Run",
				"description": "Get Last successful run for pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adt].[SP_GetLastSuccessFullRun]",
						"storedProcedureParameters": {
							"Pipelinename": {
								"type": "String",
								"value": {
									"value": "PL_Country",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_STAGE_Country",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_Chk_RcrdToProcess",
				"description": "Get Last successful run for pipeline",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LKP_Last_Successful_Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetRcrdCnt_Tables]",
						"storedProcedureParameters": {
							"ModifiedOn": {
								"type": "DateTime",
								"value": {
									"value": "@activity('LKP_Last_Successful_Run').output.firstRow.LastSuccessFullRun",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": "PL_Country"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_D365_Country",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_Chk_RcrdToProcess",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('LKP_Chk_RcrdToProcess').output.firstRow.CountD365,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "PL_Country",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Vendor",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableName": "Country",
									"Israwrun": true,
									"Isrefinerun": true,
									"Isaasrun": true,
									"Delta": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string",
				"defaultValue": "Banner"
			},
			"Israwrun": {
				"type": "bool",
				"defaultValue": true
			},
			"Isrefinerun": {
				"type": "bool",
				"defaultValue": true
			},
			"Isaasrun": {
				"type": "bool",
				"defaultValue": true
			},
			"Delta": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-21T19:42:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}