pipeline/PL_Vendor.json
{
	"name": "PL_Vendor",
	"properties": {
		"description": "Pipeline to move Vendor entity data to reporting layer",
		"activities": [
			{
				"name": "CP_Vendor_D365_STG",
				"description": "Copy Vendor entity data from D365 to Staging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_Last_Successful_Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.02:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM [d365].[Vendor] WHERE FORMAT(D365SinkTime,'yyyy-MM-ddTHH:mm:ssZ') >='@{activity('LKP_Last_Successful_Run').output.firstRow.LastSuccessFullRun}'",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Truncate Table [stage].[Vendor]",
						"writeBehavior": "insert"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false
				},
				"inputs": [
					{
						"referenceName": "DS_D365_Vendor",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_STAGE_Vendor",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_Insert_Pipeline_status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKP_Last_Successful_Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:02:00",
					"retry": 3,
					"retryIntervalInSeconds": 150,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adt].[SP_Insert_Update_ExecutionStatus]",
					"storedProcedureParameters": {
						"Delta": {
							"value": {
								"value": "@pipeline().parameters.Delta",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"Inserted": {
							"value": null,
							"type": "Int32"
						},
						"Pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Inprocess",
							"type": "String"
						},
						"Tablename": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Lnk_RPT_SQL_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LKP_Last_Successful_Run",
				"description": "Get Last successful run for pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:02:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[adt].[SP_GetLastSuccessFullRun]",
						"storedProcedureParameters": {
							"Pipelinename": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_STAGE_Vendor",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP_Update_Pipeline_status_complete",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "chk_aas_run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:02:00",
					"retry": 3,
					"retryIntervalInSeconds": 150,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adt].[SP_Insert_Update_ExecutionStatus]",
					"storedProcedureParameters": {
						"Delta": {
							"value": {
								"value": "@pipeline().parameters.Delta",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"Pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Completed",
							"type": "String"
						},
						"Tablename": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						},
						"Inserted": {
							"value": {
								"value": "@activity('CP_Vendor_D365_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Lnk_RPT_SQL_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_Update_PipelineInformation_failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SP_Insert_Update_ExecutionStatusCopyFailure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:02:00",
					"retry": 3,
					"retryIntervalInSeconds": 150,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adt].[SP_Update_PipelineInformation]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Lnk_RPT_SQL_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_Insert_Update_ExecutionStatusCopyFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CP_Vendor_D365_STG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:02:00",
					"retry": 3,
					"retryIntervalInSeconds": 150,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adt].[SP_Insert_Update_ExecutionStatus]",
					"storedProcedureParameters": {
						"Delta": {
							"value": {
								"value": "@pipeline().parameters.Delta",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"Inserted": {
							"value": {
								"value": "@activity('CP_Vendor_D365_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Pipelinename": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"Tablename": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Lnk_RPT_SQL_DB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "chk_stg_data_to_process",
				"description": "Check if there is data to process",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CP_Vendor_D365_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('CP_Vendor_D365_STG').output.RowsCopied,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SP_UPSERT_Vendor",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.02:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_UpsertVendor]"
							},
							"linkedServiceName": {
								"referenceName": "Lnk_RPT_SQL_DB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Insert_Update_ExecutionStatusUpsertFailure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_UPSERT_Vendor",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 3,
								"retryIntervalInSeconds": 150,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adt].[SP_Insert_Update_ExecutionStatus]",
								"storedProcedureParameters": {
									"Delta": {
										"value": {
											"value": "@pipeline().parameters.Delta",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"Pipelinename": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "Failed",
										"type": "String"
									},
									"Tablename": {
										"value": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"Inserted": {
										"value": {
											"value": "@activity('CP_Vendor_D365_STG').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Lnk_RPT_SQL_DB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Prepare Partition",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.02:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT  'Vendor' TableName,  'ALL'  Partition",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "delete [adt].[PartitionInformation] where TableName = 'Vendor'",
									"writeBehavior": "insert"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_STAGE_Vendor",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_STAGE_PartitionInfo",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "chk_aas_run",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "chk_stg_data_to_process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(bool(greater(activity('CP_Vendor_D365_STG').output.rowsCopied,0)),bool(pipeline().parameters.Isaasrun))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Process_end",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CustomVendor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 3,
								"retryIntervalInSeconds": 150,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adt].[SP_Update_PartitionProcess]",
								"storedProcedureParameters": {
									"Israworrefine": {
										"value": "aasprocessed",
										"type": "String"
									},
									"Partition": {
										"value": "ALL",
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"Tablename": {
										"value": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Lnk_RPT_SQL_DB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CustomVendor",
							"type": "Custom",
							"dependsOn": [
								{
									"activity": "Process_Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.01:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"command": "cmd /c ADLSToAASPartitionProcessingv2.exe ippm2_0 Vendor",
								"resourceLinkedService": {
									"referenceName": "LNK_BatchBlobStorage",
									"type": "LinkedServiceReference"
								},
								"folderPath": "devopsbintest",
								"referenceObjects": {
									"linkedServices": [],
									"datasets": []
								},
								"retentionTimeInDays": 2
							},
							"linkedServiceName": {
								"referenceName": "LNK_AzureBatch",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Process_Start",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 3,
								"retryIntervalInSeconds": 150,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adt].[SP_Insert_Update_PartitionProcess]",
								"storedProcedureParameters": {
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"ProcessAAS": {
										"value": {
											"value": "@pipeline().parameters.Isaasrun",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"ProcessRaw": {
										"value": {
											"value": "@pipeline().parameters.Israwrun",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"ProcessRefined": {
										"value": {
											"value": "@pipeline().parameters.Isrefinerun",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"Tablename": {
										"value": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Lnk_RPT_SQL_DB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "SP_Update_Pipeline_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SP_Update_Pipeline_status_complete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:02:00",
					"retry": 3,
					"retryIntervalInSeconds": 150,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adt].[SP_Update_PipelineInformation]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "Completed",
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Lnk_RPT_SQL_DB",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string",
				"defaultValue": "Vendor"
			},
			"Israwrun": {
				"type": "bool",
				"defaultValue": true
			},
			"Isrefinerun": {
				"type": "bool",
				"defaultValue": true
			},
			"Isaasrun": {
				"type": "bool",
				"defaultValue": true
			},
			"Delta": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"annotations": [
			"PipelineEntity",
			"AAS_Run"
		],
		"lastPublishTime": "2020-09-02T10:18:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}